aside {
  flex: 1;
  background-color: #fff;
  max-width: 200px;
}

a {
  color: #333;
  font-size: 20px;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  margin: 15px;
  font-size: 20px;
}

.inactive li {
  padding: 5px;
}

.inactive li:hover {
  color: #333;
  border-radius: 15px;
  background: #cde6f7;
}

.active li {
  padding: 5px;
  background: #a5d6f7;
  border-radius: 15px;
}